name: Cypress Tests
on: [push, pull_request]
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.2
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: 'yarn'
      - name: Install Dependencies
        run: yarn install
      - name: Run Cypress Component Tests
        uses: cypress-io/github-action@v7
        env:
          ELECTRON_EXTRA_LAUNCH_ARGS: '--disable-gpu'
        with:
          install: false
          component: true
      - name: Run Cypress E2E Tests
        uses: cypress-io/github-action@v7
        env:
          ELECTRON_EXTRA_LAUNCH_ARGS: '--disable-gpu'
        with:
          install: false
          start: yarn start --host 127.0.0.1 --port 3000 --strictPort
          wait-on: 'http://127.0.0.1:3000'
          wait-on-timeout: 300
